<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>logStatus</title>
</head>
<body background="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fi0.hdslb.com%2Fbfs%2Farticle%2F65cfc596dc7af413a1f58a0f6e0304c6c4f0587e.jpg&refer=http%3A%2F%2Fi0.hdslb.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1643814841&t=08057b3724111dd55a3ece665e047db0"></body>
<style type="text/css">
  table.imagetable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
  }
  table.imagetable th {
    background:#b5cfd2 url("../static/image/blue.jpg");
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
  }
  table.imagetable td {
    background:#dcddc0 url("../static/image/yellow.jpg");
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
  }
  table.myclass{
    background-size:100%;
    font-weight:bold;
    font-size: 15px;
    color: #696151;
    margin: 0 auto;
    font-family: "Weibei SC";
  }
</style>

<table class="imagetable myclass">
  <tr>
    <th>提交时间</th><th>当前状态</th><th>项目名称</th><th>环境类型</th><th>服务名称</th><th>日志时间</th><th>内网地址</th><th>下载地址</th><th>项目经理</th>
  </tr>
  {{ .htmlCode }}
</table>
</html>